#titleimage {
	margin-left: auto;
	margin-right: auto;
}

#description {
	font-size: 33px;
	font-style: italic;
	color: #EB1B8B;
	padding-bottom: 13px;
	text-align: center;
}

#numResults {
	font-weight:bold;
	color: orange;
	font-size: 20px;
}

body {
/*Based on Kottke.org's blue border design: http://css-tricks.com/examples/BodyBorder/kottke.php*/
	font-family: Source Sans Pro;
	font-size: 17px;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 40px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset #EC008C 0 0 0 5px,
		inset #F033A3 0 0 0 1px,
		inset #F24DAE 0 0 0 10px,
		inset #F466BA 0 0 0 11px,
		inset #F680C6 0 0 0 16px,
		inset #F799D1 0 0 0 17px,
		inset #F9B2DC 0 0 0 22px,
		inset #FBCCE8 0 0 0 23px;
	-moz-box-shadow:
		inset #EC008C 0 0 0 5px,
		inset #F033A3 0 0 0 1px,
		inset #F24DAE 0 0 0 10px,
		inset #F466BA 0 0 0 11px,
		inset #F680C6 0 0 0 16px,
		inset #F799D1 0 0 0 17px,
		inset #F9B2DC 0 0 0 22px,
		inset #FBCCE8 0 0 0 23px;
	box-shadow:
		inset #EC008C 0 0 0 5px,
		inset #F033A3 0 0 0 1px,
		inset #F24DAE 0 0 0 10px,
		inset #F466BA 0 0 0 11px,
		inset #F680C6 0 0 0 16px,
		inset #F799D1 0 0 0 17px,
		inset #F9B2DC 0 0 0 22px,
		inset #FBCCE8 0 0 0 23px;
}

#notes {
	font-family: Source Sans Pro;
	font-size: 17px;
}

#savedTerms {
	font-family: Source Sans Pro;
	font-size: 20px;
	color: blue;
}

p {
	text-align: center;
}

input {
	font-size: 24px;
	font-family: Source Sans Pro;
}

#dialog {
	font-size: 14px;
	font-family: Source Sans Pro;
	color: purple;
}

#opener {
	font-family: Source Sans Pro;
	 -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background-color:white;
        border:0px solid #dcdcdc;
        
        display:inline-block;
        color:#3399FF;
        font-size:16px;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ffffff;
        
    }
    #opener:hover {
        color:#3399FF;
        background-color:#white;
        font-weight:bold;
    }
   #opener:active {
        position:relative;
        top:1px;
}

#lastItem {
	margin-bottom:1cm;
}
#userlogin {
	text-align: right;
	font-size: 18px;
	font-family: Source Sans Pro;
}

#results {
	color: blue;
	text-align: center;
}

#myform {
	font-family: Source Sans Pro;
	font-size: 17px;
	text-align: center;
}

#progressbar {
	margin-left: 300px;
	margin-right: 300px;
}

#searchButton, #saveNotes {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        
        background-color:#ffffff;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #dcdcdc;
        
        display:inline-block;
        color:black;
        font-size:22px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ffffff;
}

#by {
	font-size: 15px;
}
#poweredBy {
	font-size: 14px;
	font-style: italics;
}